<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RegisterSOE.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <RegisterSOE.Properties.Settings>
            <setting name="Host" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="SoetClsId" serializeAs="String">
                <value>LayerMetadata.LayerMetadata</value>
            </setting>
            <setting name="SoetDescription" serializeAs="String">
                <value>Provides a map service with the ability to export the metadata associated with its layers.</value>
            </setting>
            <setting name="SoetName" serializeAs="String">
                <value>LayerMetadata</value>
            </setting>
            <setting name="SoetDisplayName" serializeAs="String">
                <value>Layer Metadata</value>
            </setting>
            <setting name="SoetInfo" serializeAs="String">
                <value>{"SupportsREST":"true","SupportsMSD":"true"}</value>
            </setting>
        </RegisterSOE.Properties.Settings>
    </applicationSettings>
</configuration>